<section class="bg-secondary">
  <div class="container d-flex justify-content-between align-items-end">
    <div>
      <h5>Choose what type of list</h5>
    <form class="d-flex form-inline gap-2" [formGroup]="formManage">
      <select name="type" id="type" class="form-control" formControlName="type">
        <option value="name">names</option>
        <option value="verb">verbs</option>
        <option value="zin">sentences</option>
      </select>
      <select name="language" id="language" class="form-control" formControlName="language">
        <option value="nl-to-fr">nl >> fr</option>
        <option value="fr-to-nl">fr >> nl</option>
      </select>
    </form>
    </div>
    <div>
      <button type="button" class="btn btn-warning">Add Translation</button>
    </div>
  </div>
</section>