<form class="t_flex-items">
  @if(listService.currentType() === "zin"){
    <textarea 
    class="t_form-control" 
    type="text" 
    class="t_form-control"
    required
    id="nl" name="nl" 
    [(ngModel)]="term.nl" 
    [readonly]="isEdit?false:true"
    type="text"
   ></textarea>
  <textarea
  class="t_form-control"
  required
  id="fr"
  name="fr"
  [(ngModel)]="term.fr"
  [readonly]="isEdit?false:true"
   ></textarea>
  
  }
  @else {
    <input 
    type="text"
    class="t_form-control"
    required
    id="nl" name="nl" 
    [(ngModel)]="term.nl" 
    [readonly]="isEdit?false:true"
     >
    <input
    type="text"
    class="t_form-control"
    required
    id="fr"
    name="fr"
    [(ngModel)]="term.fr"
    [readonly]="isEdit?false:true"
     >
     @if(listService.currentType() === "verb"){
      <input 
    type="text"
    class="t_form-control"
    required
    id="perfectum" name="perfectum" 
    [(ngModel)]="term.perfectum" 
    [readonly]="isEdit?false:true"
     >
    <input
    type="text"
    class="t_form-control"
    required
    id="imperfectum"
    name="imperfectum"
    [(ngModel)]="term.imperfectum"
    [readonly]="isEdit?false:true"
     >
     }
  }
  <button class="btn" [class]="isEdit? 'btn-warning' : 'btn-light'" (click)="onEdit()" [type]="isEdit? 'submit': 'button'" >{{isEdit? "save" : "edit"}}</button>
  <button class="btn btn-danger" (click)="onDelete()" ><i class="bi bi-trash3-fill"></i></button>
</form>