<div class="container my-5">

  
    @if(currentForm == 'registration'){
    <!-- Registration -->
    <section class="loggin">
    <div class="text-center mb-2">
      <h3>Registration</h3>
      <p>
        <small>I remember my account !
          <a class="text-danger" data-target="loggin" href="loggin" (click)="toggleForms($event)">
            Go to sign in</a>.
        </small>
      </p>
    </div>
    <form #registerForm="ngForm" class="loggin__form" (ngSubmit)="registration(registerForm.value)">
      <label for="name">Name</label>
      <input 
        type="text"
        id="name"
        name="name"
        class="t_form-control mb-2"
        required
        ngModel
      >
      <label for="email">Email</label>
      <input
      type="email"
      id="email"
      name="email"
      class="t_form-control mb-2"
      required
      ngModel
      >
      <app-pwd id="pwd1" label="Password" />
      <p>
        <small class="comment">
          The password must have min 8 characters: Uppercase(s), lowercase(s) and
          number(s)
        </small>
      </p>
      <app-pwd id="pwd2" label="Confirm Password" />
      <button class="btn btn-outline-secondary mt-4" type="submit">Go!</button>
    </form>
    </section>
    }
    @if(currentForm == 'loggin'){
    <!-- Loggin -->
     <section class="loggin">
    <div class="text-center mb-2">
      <h3>Sign in to your account</h3>
      <p>
        <small>Don't have an account?
          <a class="text-danger" data-target="registration" href="registration" (click)="toggleForms($event)">Create
            one</a>.
        </small>
      </p>
    </div>
    <form #logginForm="ngForm" class="loggin__form" (ngSubmit)="loggin(logginForm.value)">
      <label for="log_email">Email</label>
      <input
        type="email"
        name="log_email"
        id="log_email"
        class="t_form-control mb-2"
        required
        ngModel
      >
      <app-pwd id="log_pwd" label="Password" (ngModelChange)="onChildValueChange($event)" 
       />
      <button class="btn btn-outline-secondary mt-4" type="submit">Go!</button>
    </form>
  </section>
    }
 


</div>