<div class="container my-5">
  <!-- Loggin -->
  <section class="loggin">
    <div class="text-center mb-2">
      <h3>Sign in to your account</h3>
      <p>
        <small>Don't have an account?
          <a class="text-danger" href="registration">Create
            one</a>.
        </small>
      </p>
    </div>
    <form [formGroup]="logginForm" class="loggin__form" (ngSubmit)="loggin(logginForm)">
      <label for="log_email">Email</label>
      <input type="email" name="log_email" id="log_email" class="t_form-control mb-2" required
        formControlName="log_email">
      <app-pwd [props]="{
        id:'log_pwd',
        label:'Password',
        parent :logginForm,
        validation:false}" />
      <button class="btn btn-outline-secondary mt-4" [disabled]="logginForm.invalid" type="submit">Go!</button>
    </form>
  </section>
</div>
